@import './variables.scss';

html {
  font-family: $font-basic;
  color: $text-dark;
  background-color: $bg-main;
  background-image: radial-gradient($bg-main, $bg-light, $bg-main);
  margin: 0px;
}

.app {
  margin: 0px
}

body {
  margin: 0px;
}

h2 {
  font-family: $font-headings;
}

.bannercontainer {
  display: flex;
  width: 100vw;
  min-height: $banner-container-height;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.banner {
  position: relative;

    &__logo {
      position: absolute;
      max-width: $banner-logo-size;
      left: calc($banner-logo-size / -2);
      top: calc($banner-logo-size / -5);
    }

    &__feature {
      z-index: -1;
      position: absolute;
      object-fit: cover;
      min-width: 100vw;
      min-height: $banner-container-height;
      left: -50vw;
      top: calc($banner-container-height / -2);

      @include max-width(xsmall) {
        top: calc($banner-container-height / -2);
      }
    }
}

.content {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.ad-sidebar {
  background-color: $bg-main;
  max-width: 100%;
  height: 100vh;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}

.form {
  margin-top: 20px;
  font-family: $font-basic;
  color: $text-main;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px, 30px, 30px, 30px;
  font-size: 1.2rem;
  line-height: 1.4;
}

.form button {
  margin: 10px;
  padding: 10px;
  font-size: 1.2rem;
  line-height: 1.4;
  font-family: inherit;
  color: $text-main;
  background-color: $bg-light;
  border: 3px solid $text-main;
  border-radius: 5px;
}

.form input {
  padding: 10px;
  margin: 0px 15px 0px 15px;
}

.form button:hover {
  background-color: $highlight;
}

#orb {
  padding: 10px;
  max-width: 100px;
}

.form p {
  padding: 20px;
  background-color: $bg-main;
  border-radius: 10px;
}