@import './variables.scss';

html {
  font-family: $font-basic;
  color: $text-dark;
  background-color: $bg-main;
  margin: 0px;
}

.app {
  margin: 0px
}

body {
  margin: 0px;
}

h1 {
  font-family: $font-headings;
}

.bannercontainer {
  display: flex;
  width: 100vw;
  min-height: $banner-container-height;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.banner {
  position: relative;

    &__logo {
      position: absolute;
      max-width: $banner-logo-size;
      left: calc($banner-logo-size / -2);
      top: calc($banner-logo-size / -5);
    }

    &__feature {
      z-index: -1;
      position: absolute;
      object-fit: cover;
      min-width: 100vw;
      min-height: $banner-container-height;
      left: -50vw;
      top: calc($banner-container-height / -2);

      @include max-width(xsmall) {
        top: calc($banner-container-height / -2);
      }
    }
}

.content {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.ad-sidebar {
  background-color: red;
  width: 100%;
  height: 100%;
}

.form {
  font-family: $font-basic;
  color: $text-main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}